html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='author' content='')
		link(rel='shortcut icon' href='images/icon.png' type='image/x-icon')
		
		//
			//////////////////////////////////////////////////////
			Kalollero Marro.on ~ 
			Diseño y Desarrollo by kalollero Marro.on 
			Website:    http://kalollero.github.io/PortFolio-Design.com
			Email:      kali.rso@hotmail.com
			Facebook:   https://www.facebook.com/KalolleroMarro.on
			//////////////////////////////////////////////////////

		title Lucy Castillo

		//Icons
		

		//Normalize 
		link(rel='stylesheet' href='css/normalize.css')


		//Style Landing Page
		link(rel='stylesheet' href='css/styles.css')

	body

		section.nav
			div.nav__logo
				img(src="", alt="", srcset="")
			div.nav__busar 
				input(type="Busca", name="")
			div.nav__icons 
				img(src="", alt="", srcset="")
				img(src="", alt="", srcset="")
				img(src="", alt="", srcset="")
				img(src="", alt="", srcset="")
				img(src="", alt="", srcset="")

		section.header#header
			div.header__descripcion 
				img(src="", alt="", srcset="")
				h1 lucycastilloconsultora 
				div.numeros
						p
							span 270 
							| publicaciones
						p
							span 3.332 
							| seguidores
						p
							span 936 
							| seguidos
				p Lucy Castillo - Cunsultora
				p Asesor de Imagen
				div
					img(src="", alt="", srcset="")
					p Te acompaño a descubrir todo lo que eres capaz de crear si confías en ti.
				div
					img(src="", alt="", srcset="")
					p ¡Tu imagen es el límite!
				div 
					img(src="", alt="", srcset="")
					p Facilitador Barras Access
				div 
					img(src="", alt="", srcset="")
					p 2288177019
				div
						a(href="http://") lucycastillo.com

			div.header__historias 
					div
						img(src="", alt="", srcset="")
						p Mi libro
					div
						img(src="", alt="", srcset="")
						p Entrevistas
					div
						img(src="", alt="", srcset="")
						p Universo
					div
						img(src="", alt="", srcset="")
						p Q&A
					div
						img(src="", alt="", srcset="")
						p Barras de ...
					div
						img(src="", alt="", srcset="")
						p Vestimenta
					div
						img(src="", alt="", srcset="")
						p Tips
			
			div.numeros
				div	
					p 270 
					p publicaciones
				div
					p 3.332 
					p seguidores
				div
					p 936 
					p seguidos
	
			div.header__menu
					div
						img(src="", alt="", srcset="")
						p PUBLICACIONES
					div
						img(src="", alt="", srcset="")
						p REELS
					div
						img(src="", alt="", srcset="")
						p IGTV
					div
						img(src="", alt="", srcset="")
						p ETIQUETAS

		section.feed#feed
			div.feed__post--272
				img(src="", alt="", srcset="")

			div.feed__post--271
				img(src="", alt="", srcset="")
			
			div.feed__post--270
				img(src="", alt="", srcset="")

		
		footer.footer
			
		script(src='js/type.js' type='text/javascript')
			

